


.keywords-list{
    float: left;
    width:240px;
    height: 350px;
    padding:10px 0;
    margin-right:10px;
    background: #666;
    color:#fff ;
    border-radius: 5px;     

}

.keywords-list .keywords-item{
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}
.keywords-list .keywords-item .link{
    color:#fff;
}

.keywords-list .keywords-item:hover{
    background: #999
}
.keywords-list .keywords-item .link:hover{
    color:#c60023;
}

.banner-con{
    width: 830px;
    float: left;
    background: #eee;
    height: 370px;
    border-radius: 5px;
}

.banner-con .banner-img{
    width: 100%;
    height: 370px;
    border-radius: 5px;      
}
/* banner的按钮 */
.banner-con .banner-arrow{
    position: absolute;
    top :160px;
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    background:#ccc;
    background: rgba(255,255,255,.2);
    cursor: pointer;
    color:#fff
}
.banner-con .banner-arrow:hover{
    background: #aaa;
    background: rgba(255,255,255,.5);
}
/* 左边按钮 */
.banner-con .banner-arrow.prve{
    left: 0;
}
/* 右边按钮 */
.banner-con .banner-arrow.next{
    right: 0;
}

.banner-con .loading{
    margin-top:150px;
}

.floor-wrap .floor-title{
    height: 50px;
    color:#d58717;
    line-height: 50px;
    font-weight: normal;
    font-size: 20px;
    border-bottom: 1px solid #d58717
}  
/* 楼层标题加颜色 */
.floor-wrap:nth-child(2) .floor-title{
    color:#3b838c;
    border-bottom: 1px solid #3b838c;
}
.floor-wrap:nth-child(3) .floor-title{
    color:#a93931;
    border-bottom: 1px solid #a93931;
}
.floor-wrap:nth-child(4) .floor-title{
    color:#488bad;
    border-bottom: 1px solid #488bad;
}
.floor-wrap:nth-child(5) .floor-title{
    color:#642663;
    border-bottom: 1px solid #642663;
}
.floor-list{
    margin-right: -20px;
    overflow: hidden;
}
.floor-wrap .floor-item{
    position: relative;
    width: 200px;
    height: 220px;
    margin: 15px 20px 15px 0;
    float: left;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
    box-shadow:  2px 2px 7px #ddd;    
}
.floor-wrap .floor-item .floor-text{
    position: absolute;
    top:12px;
    left: 20px;
    font-size: 16px;
    color:#555;
}
.floor-wrap .floor-item .floor-img{
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 80%;
    height: 75%;
    border: none;    
}
.floor-wrap .floor-item:hover{
    box-shadow:  10px 10px 7px #ddd;   
}






